@font-face {
    font-family: "Aero Matics";
    src: url('/popup/resources/fonts/Aero\ Matics\ Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "Aero Matics";
    src: url('/popup/resources/fonts/Aero\ Matics\ Light.ttf');
    font-weight: 100;
}

@font-face {
    font-family: "Aero Matics";
    src: url('/popup/resources/fonts/Aero\ Matics\ Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: "Aero Matics Display";
    src: url('/popup/resources/fonts/Aero\ Matics\ Display\ Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: "Aero Matics Display";
    src: url('/popup/resources/fonts/Aero\ Matics\ Display\ Light.ttf');
    font-weight: 100;
}

@font-face {
    font-family: "Aero Matics Display";
    src: url('/popup/resources/fonts/Aero\ Matics\ Display\ Bold.ttf');
    font-weight: 700;
}

.sentinel {
    width: 100%;
}

.bg-dark {
    background-color: transparent !important;
    transition: background-color 200ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.sticky {
    position: sticky;
    top: 0px;
    height: 60px;
    z-index: 1000;
    transform: translateY(10px);
    background: #212C3D;
    transition: transform 200ms cubic-bezier(0.25, 0.8, 0.25, 1), background 200ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.sticky::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    opacity: 0;
    height: 60px;
    pointer-events: none;
    transition: opacity 50ms cubic-bezier(0.35, 0, 0.25, 1) 0s;
    background: radial-gradient(farthest-side at 50% 0px, rgba(0, 0, 0, 0.5), transparent);
}

.sticky.stuck::after {
    opacity: 0.4;
}

.stuck {
    transform: translateY(0px);
    height: 60px;
}

.stuck > .bg-dark {
    background-color: #29374A !important;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#app-wrapper::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
#app-wrapper::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
#app-wrapper::-webkit-scrollbar-thumb {
  background:#4D5664;
  border-radius: 22px;
}
#app-wrapper::-webkit-scrollbar-track {
  background: #212C3D;
  border: 0px none #ffffff;
  border-radius: 0px;
}
#app-wrapper::-webkit-scrollbar-track:hover {
  background: #212C3D;
}
#app-wrapper::-webkit-scrollbar-track:active {
  background:#212C3D;
}
#app-wrapper::-webkit-scrollbar-corner {
  background: transparent;
}

#app-wrapper::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
 ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
 ::-webkit-scrollbar-thumb {
    background:#4D5664;
    border-radius: 22px;
  }
::-webkit-scrollbar-track {
    background: #212C3D;
    border: 0px none #ffffff;
    border-radius: 0px;
  }
::-webkit-scrollbar-track:hover {
    background: #212C3D;
  }
::-webkit-scrollbar-track:active {
    background:#212C3D;
  }
::-webkit-scrollbar-corner {
    background: transparent;
  }
  
::-webkit-scrollbar {
      width: 7px;
}

#app-wrapper {
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #212C3D;
}

.page-wrapper {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    width: 630px;
    height: 100%;
    margin-top: 10px;
    /*overflow: hidden;*/
    background: #212C3D;
}

.tabs-wrapper {
    /*height: 548px;
    overflow-y: scroll;
    overflow-x: hidden;*/
}

.tab-content {
    color: white;
    padding: 20px;
}

.muted {
    opacity: 0.6;
}
.clickable {
    cursor: pointer;
}

h4 {
    font-weight: 100;
}

.modal-title {
    color:#f8f9fa
}

.nav-item {
    position: relative;
}

.nav-link {
    font-family: "Aero Matics", "Segoe UI", sans-serif;
    text-transform: uppercase;
    color: #9fa4ae;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 0.7px;
}

li.active > .nav-link, li.active > .nav-link:hover {
    color: #fff;
    outline: 0;
}

li > a.nav-link::after {
    transition: transform 300ms cubic-bezier(0.25, 0.8, 0.25, 1) , background 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
    content: '';
    position: absolute;
    left: 7px;
    right: 7px;
    bottom: 0;
    height: 2px;
    background: #00bcf2;
    transform: scaleX(0);
    opacity: 0;
}

li.active > a.nav-link::after {
    opacity: 1;
    transform: scaleX(1);
}

.elixr-nav-item {
    margin: 0 12px;
}

.modal-content .bg-dark,
.modal-header .bg-dark,
.modal-footer .bg-dark {
    background-color: #212C3D !important;
}

.navbar-brand {
    padding-top: 0;
}

.navbar {
    height: 60px;
}

/*.navbar::after  {
    transition: opacity 400ms cubic-bezier(0.35, 0, 0.25, 1);
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: radial-gradient(farthest-side at 50% 0, rgba(0,0,0,0.5), transparent);
    opacity: 1;
    height: 60px;
    pointer-events: none;
}*/

.modal-sm {
    max-width: 300px;
    margin: 30px auto;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

/*** Service Status **/

.mixerAlert[status='none'] i{
    display:none;
}
.mixerAlert[status='minor'] i{
    color:yellow;
}
.mixerAlert[status='major'] i{
    color:orange;
}
.mixerAlert[status='critical'] i{
    color:red;
}

/*Switch*/

/** Switch
 -------------------------------------*/

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 24px;
    margin-right: 15px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b0b6bd;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: #1FBAED;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

/* end slider */

.online-friends-wrap{
    display:flex;
    flex-wrap: wrap;
}

.mixerFriend{
    background-color:#2a2f42;
    width:48%;
    margin:1%;
    border-radius: 3px;
    border: 2px solid transparent;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    transition: border-color 300ms linear;
}

.mixerFriend:hover{
    border-color:#0075d5;
}

.friendLink{
    color:white;
}
.friendLink:hover{
    color:white;
}

.thumbnail {
    width:100%;
    position: relative;
    display:inline-block;
    vertical-align: top;
}
.thumbnail:after{
  padding-top: 56.25%;
  display: block;
  content: '';
}

.thumbnail img, .thumbnail video{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width:100%;
}

.friendPreview {
    clear: both;
    cursor: pointer;
}

.friend-header{
    position:absolute;
    top:0;
    width:100%;
    height:40%;
    padding: 4px 8px 0px 8px;
    font-weight:100;
    background: linear-gradient(to bottom, rgba(0,0,0,0.6) 30%,rgba(0,0,0,0.4) 56%,rgba(255,255,255,0) 92%,rgba(255,255,255,0) 100%);
}

.friend-icons{
    position: absolute;
    bottom:4px;
    right:8px;
}

.friend-audience{
    position: absolute;
    bottom: 6px;
    left: 4px;
    background: #169D56;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 3px;
}

.friend-audience.eighteen {
    background: #F75252;
 }

.friend-audience span{
    font-size: 9px;
    text-transform: capitalize;
    /*text-shadow: 0px 0px 10px #000000;*/
}


.friendName{
    float:left;
}

.friendGame {
    opacity: 0.7;
}

.friendViewers{
    float:right;
}
.friendViewers i{
    font-weight:initial;
    padding-right: 5px;
}

.info-container {
    width:100%;
    padding: .25em;
    display:inline-block;
    font-size:.8em;
}

.info-container div{
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*** Settings Sections ***/
.settings-section{
    /*background:rgba(255, 255, 255, 0.05);
    border-radius: 6px;*/
    border: 0px solid rgba(255, 255, 255, 0.05);
    margin-bottom: 1em;
    /*box-shadow:0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);*/
}
.settings-section-header{
    width:100%;
    background:#29374A;
    display: flex;
    flex-direction: row;
    padding-left:24.5px;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-top:1px solid hsla(0,0%,100%,.1);
    border-bottom: 1px solid hsla(0,0%,100%,.1);
}
.settings-section-header .title {
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Aero Matics", "Segoe UI", sans-serif;
}
.settings-section-settings{
    padding: 15px 24.5px 20px;
}

.setting-subcategory {
    display: block;
    font-size: 22px;
    font-weight: 200;
    color: #fff; 
    margin: 15px 0 3px;
    font-family: "Aero Matics", "Segoe UI", sans-serif;
}

.white-link button {
    cursor: pointer;
    color: whitesmoke;
}

.white-link button:hover {
    text-decoration: none;
    color: gray;
}
  
.made-with-love-wrapper {
    color: #666;
    font-size: 12px;
    text-align: center;
}
.made-with-love-wrapper a {
    color: #a5a3a3 !important;
    cursor: pointer;
    text-decoration: none;
}
.made-with-love-wrapper .fa {
    color: #E90606;
    margin: 0 3px;
    font-size: 10px;
    
}

.pound {
    animation: pound 0.35s infinite alternate;
    -webkit-animation: pound 0.35s infinite alternate;
}
  
@-webkit-keyframes pound {
    to {
    transform: scale(1.1);
    }
}
@keyframes pound {
    to {
    transform: scale(1.1);
    }
}

.teammember {
    font-size: 16px;
    font-weight: 100;
    padding: 5px;
}

.disclaimer {
    color: #a5a3a3;
    font-size: 13px;
    padding-top: 5px;
}

.disclaimer a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

a.light-blue-link {
    color: #96bfff;
    cursor: pointer;
    text-decoration: none;
}

.multiselect__tag, .multiselect__option--highlight,.multiselect__option--highlight::after {
    background: #1fbaed;
}

.multiselect__tag-icon:focus, .multiselect__tag-icon:hover {
    background: #1c9ac0;
}

.e-tooltip {
    font-size: 13px;
    opacity: 0.7;
    margin-left: 5px;
}

.e-tooltip:hover {
    opacity: 1;
}

.fa-exclamation-circle.e-tooltip, .e-tooltip.fa-exclamation-circle{
    color:#ec3f3f;
}

.option {
    margin-bottom: .6rem
}

.option-wrapper {
    width: 100%;
}

.option-wrapper.suboption {
    padding-left: 25px;
    margin-left: 10px;
    border-left: rgba(107, 107, 107, 0.3) solid 2px;
}

.online-type-title {
    margin-left: 4.5px;
    margin-bottom: 4.5px;
    display: flex;
    align-items: center;
}

.online-title {
    font-family: "Aero Matics", "Segoe UI", sans-serif;
    font-size: 28px;
    font-weight: 400;
    margin-right: 5px;
}

.online-list-message {
    margin-left: 4.5px;
    font-size: 15px;
}


[v-cloak] {
    display: none;
}

#customEmotesInfoModal {
    text-align: center;
}
  
