/*Theater Mode*/
.channel-page > header,
.profile-header,
.profile-blocks,
.user,
.channel-page,
.channel-page > aside,
b-notifications {
    transition: 0.5s;
}

.profile-header.theaterMode,
.profile-blocks.theaterMode {
    display:none!important;
    visibility: hidden !important;
}

.channel-page.theaterMode,
.channel-page > aside.theaterMode {
    background: #000000 !important; 
}

.channel-page.theaterMode {
    height: calc(100vh) !important;
    max-height: calc(100vh) !important;
}

.channel-page.theaterMode b-host-bar {
    display: none !important;
}

.channel-page.theaterMode b-vod-bar {
    display: none !important;
}

body.theaterMode {
    background: #0b0f15;
}

.me-chat-container.theaterMode {
    background: #040404 !important;  

    [class^="webComposerBlock"] {
        background: #040404 !important;
    }

    [class^="sticker_"], [class^="attributionContents_"] {
        background: #0c0c0c !important;
    }

    [class*="striped_"] [class*="message_"][class*="odd_"] {
        background-color: #000000;
    }
}

b-desktop-header.theaterMode {
    opacity: 0!important;
    display: none;
    visibility: hidden;
}

body.theaterMode b-mobile-header, 
body.theaterMode b-nav-host {
    display: none;
}

b-channel-info-bar.theaterMode > .info-bar {
    opacity: 0;
    transition: 0.3s;
    background: #0000006b !important;
    box-shadow: none !important;
}

.channel-info-container.theaterMode .toggle-interactive,
.channel-info-container.theaterMode .toggle-interact-menu,
b-skills-button-host-component.theaterMode {
    z-index: 99999;
}

.channel-info-container.theaterMode .toggle-interactive.open {
    background-color: #000000d6 !important;
}

b-nav-host > div.theaterMode {
    display: none;
}

.channel-info-container.theaterMode {
    position: absolute !important;
    top: 0;
    left: 0;
}

.channel-info-container.theaterMode .skills-tray-container {
    top: 84px !important;
    bottom: 0 !important;
}


.stage.aspect-16-9.theaterMode {
    height: calc(100vh) !important;
    max-height: calc(100vh) !important;
}

.stage.theaterMode [class*="dismiss-beachball"] {
    top: 70px !important;
}

b-channel-page-wrapper .stage.aspect-16-9.me-video-stage, 
b-channel-page-wrapper .stage.me-video-stage, 
b-channel-page-wrapper .stage:not(.aspect-16-9).me-video-stage{
    height: calc(100vh - 120px);
    max-height: calc(100vh - 120px);
}

.chat.theaterMode {
    background: #161D29!important;
    top: 0px !important;
}

.chat.relative {
    position: relative !important;
}

/* Co-Stream Theatermode top-bar fix*/
.stage.theaterMode .costream-rollout {
	top: 59px !important;
}

.stage.theaterMode .costream-rollout::before {
	background: rgba(0, 0, 0, 0.25) !important;
}
/* End Theater Mode */
