b-desktop-header.elxir-search-pinned {
    z-index: 9 !important;
}

b-desktop-header.elixr-search-pinned.collapsed {
    height: 60px;
}

.elixr-search-pinned::after  {
    transition: opacity 50ms cubic-bezier(0.35, 0, 0.25, 1);
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: radial-gradient(farthest-side at 50% 0, rgba(0,0,0,0.5), transparent);
    opacity: 0;
    height: 60px;
    pointer-events: none;
    z-index: 1;
}

.elixr-search-pinned.collapsed::after  {
    opacity: 1;
}

b-browse-channels-header > div > .elixr-pinned-search,
b-browse-channels-header > div > .input.elixr-pinned-search,
b-browse-channels-header > div > .control-filter.elixr-pinned-search {
    position: fixed;
    z-index: 10;     
    transition: top 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

b-browse-channels-header > div > .elixr-pinned-search.elixr-searchbar {
    top: 23px;
    left: 50%;
    transform: translateX(-50%);
    z-index:50;
}

b-browse-channels-header > div > .elixr-pinned-search.elixr-filterbtn {
    top: 31px;
    left: 50%;
    transform: translateX(calc(-50% + 215px));
    z-index:50;
}

b-browse-filters.elixr-filterspanel {
    position: fixed;
    top: 79px;
    z-index: 100;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: top 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

b-browse-framework > header.elixr-search-Pinned {
    position: static;
    background: transparent !important;
}

.elixr-searchbar {
    &:not(.elixr-nav-collapsed) > input {
        border: 2px #1a2d57 solid !important;
    }
}