body[data-elixr-removeFeatured="true"] {
    b-delve-featured-carousel {
        display: none;
    }
    b-delve-games {
        display: none;
    }
    b-delve-oom-channels {
        display: none;
    }
}