<!doctype html>
<html>
  	<head>
		<title>MixerElixir</title>
		<link type="text/css" rel="stylesheet" href="/resources/bootstrap/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="/resources/bootstrap/bootstrap-vue.css"/>
		<link rel="stylesheet" href="/resources/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/options/options.css">		
  	</head>
  	<body>
		<div id="app">
			<div class="page-wrapper">
				<nav-bar @tab-changed="updateActiveTab" :online-count="friends.length"></nav-bar>
				<div v-if="activeTab == 'online'" id="onlineFriends" class="tab-content">
					<div class="online-friends-wrap">
						<online-friend	v-for="friend in friends" v-bind:friend="friend"></online-friend>
					</div>
					<div class="online-friends-error" v-if="friends.length === 0">
						To view your online friends go to <a href="https://mixer.com" target="_blank">Mixer.com</a> and log in.
					</div>
				</div>
				<div v-if="activeTab == 'options'" class="tab-content">
					<streamer-page-options></streamer-page-options>			
					<home-page-options></home-page-options>
				</div>				
			</div>	
		</div>	
		<script src="/resources/js/vue.min.js"></script>
		<script src="/resources/js/polyfill.min.js"></script>
		<script src="/resources/bootstrap/bootstrap-vue.js"></script>
		<script src="/options/app/mixins/settingsStorage.js"></script>
		<script src="/options/app/mixins/friendFetcher.js"></script>
		<script src="/options/app/components/checkboxToggle.js"></script>
		<script src="/options/app/components/homePageOptions.js"></script>
		<script src="/options/app/components/navBar.js"></script>
		<script src="/options/app/components/onlineFriend.js"></script>
		<script src="/options/app/components/streamerOverrideDropdown.js"></script>
		<script src="/options/app/components/streamerPageOptions.js"></script>
		<script src="/options/app/main.js"></script>
	</body>
</html>

