body {
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.tabs-wrapper::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.tabs-wrapper::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.tabs-wrapper::-webkit-scrollbar-thumb {
  background:#414453;
  border: 1px inset #03003c;
  border-radius: 22px;
}
.tabs-wrapper::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
.tabs-wrapper::-webkit-scrollbar-thumb:active {
  background: #414453;
}
.tabs-wrapper::-webkit-scrollbar-track {
  background: #141828;
  border: 0px none #ffffff;
  border-radius: 0px;
}
.tabs-wrapper::-webkit-scrollbar-track:hover {
  background: #141828;
}
.tabs-wrapper::-webkit-scrollbar-track:active {
  background: #141828;
}
.tabs-wrapper::-webkit-scrollbar-corner {
  background: transparent;
}

#app {
    height: 100%;
}

.page-wrapper {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    width: 500px;
    height: 100%;
    overflow: hidden;
    background: #141828;
}

.tabs-wrapper {
    height: 548px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tab-content {
    color: white;
    padding: 20px;
}

.muted {
    opacity: 0.6;
}
.clickable {
    cursor: pointer;
}

h4 {
    font-weight: 100;
}

.modal-title {
    color:#f8f9fa
}

.bg-dark {
    background-color: #00295D !important;
}

.modal-content .bg-dark {
    background-color: #343a40!important;
}

.navbar-brand {
    padding-top: 0;
}

.modal-sm {
    max-width: 300px;
    margin: 30px auto;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

/*** Service Status **/

.mixerAlert[status='none'] i{
    display:none;
}
.mixerAlert[status='minor'] i{
    color:yellow;
}
.mixerAlert[status='major'] i{
    color:orange;
}
.mixerAlert[status='critical'] i{
    color:red;
}

/*Switch*/

/** Switch
 -------------------------------------*/

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 24px;
    margin-right: 15px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b0b6bd;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: #1FBAED;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

/* end slider */

.online-friends-wrap{
    display:flex;
    flex-wrap: wrap;
}

.mixerFriend{
    background-color:#2a2f42;
    width:48%;
    margin:1%;
    border-radius: 3px;
    border: 2px solid transparent;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    transition: border-color 300ms linear;
}

.mixerFriend:hover{
    border-color:#0075d5;
}

.friendLink{
    color:white;
}
.friendLink:hover{
    color:white;
}

.thumbnail {
    width:100%;
    position: relative;
    display:inline-block;
    vertical-align: top;
}
.thumbnail:after{
  padding-top: 56.25%;
  display: block;
  content: '';
}

.thumbnail img, .thumbnail video{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width:100%;
}

.friendPreview {
    clear: both;
    cursor: pointer;
}

.friend-header{
    position:absolute;
    top:0;
    width:100%;
    height:40%;
    padding: 4px 8px 0px 8px;
    font-weight:100;
    background: linear-gradient(to bottom, rgba(0,0,0,0.6) 30%,rgba(0,0,0,0.4) 56%,rgba(255,255,255,0) 92%,rgba(255,255,255,0) 100%);
}

.friend-icons{
    position: absolute;
    bottom:4px;
    right:8px;
}

.friendName{
    float:left;
}

.friendGame {
    opacity: 0.7;
}

.friendViewers{
    float:right;
}
.friendViewers i{
    font-weight:initial;
    padding-right: 5px;
}

.info-container {
    width:100%;
    padding: .25em;
    display:inline-block;
    font-size:.8em;
}

.info-container div{
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*** Settings Sections ***/
.settings-section{
    background:rgba(255, 255, 255, 0.05);
    border-radius: 1px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    margin-bottom: 1em;
    box-shadow:0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
}
.settings-section-header{
    width:100%;
    border-radius: 1px 1px 0px 0px;
    background:rgba(255, 255, 255, 0.09);
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    
}
.settings-section-header .title {
    font-size: 1.5rem;
    font-weight: 100;
}
.settings-section-settings{
    padding:1em;
}

.setting-subcategory {
    display: block;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 10px;
    opacity: 0.7;
}

.white-link button {
    cursor: pointer;
    color: whitesmoke;
}

.white-link button:hover {
    text-decoration: none;
    color: gray;
}
  
.made-with-love-wrapper {
    color: #666;
    font-size: 12px;
    text-align: center;
}
.made-with-love-wrapper a {
    color: #a5a3a3 !important;
    cursor: pointer;
    text-decoration: none;
}
.made-with-love-wrapper .fa {
    color: #E90606;
    margin: 0 3px;
    font-size: 10px;
    
}

.pound {
    animation: pound 0.35s infinite alternate;
    -webkit-animation: pound 0.35s infinite alternate;
}
  
@-webkit-keyframes pound {
    to {
    transform: scale(1.1);
    }
}
@keyframes pound {
    to {
    transform: scale(1.1);
    }
}

.teammember {
    font-size: 16px;
    font-weight: 100;
    padding: 5px;
}

.disclaimer {
    color: #a5a3a3;
    font-size: 13px;
    padding-top: 5px;
}

.disclaimer a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

a.light-blue-link {
    color: #96bfff;
    cursor: pointer;
    text-decoration: none;
}

.multiselect__tag, .multiselect__option--highlight,.multiselect__option--highlight::after {
    background: #1fbaed;
}

.multiselect__tag-icon:focus, .multiselect__tag-icon:hover {
    background: #1c9ac0;
}

.e-tooltip {
    font-size: 13px;
    opacity: 0.7;
    margin-left: 5px;
}

.e-tooltip:hover {
    opacity: 1;
}

.fa-exclamation-circle.e-tooltip, .e-tooltip.fa-exclamation-circle{
    color:#ec3f3f;
}

.option {
    margin-bottom: .6rem
}

.option-wrapper {
    width: 75%;
}

.option-wrapper.suboption {
    padding-left: 25px;
    margin-left: 10px;
    border-left: rgba(107, 107, 107, 0.3) solid 2px;
}

.favorite-btn {
    transition: 0.2s;
    font-size: 12px;
    margin-left: 2px;
}

.favorite-btn:hover {
    color: #0faf27;
    transition: 0.2s;
}

.online-type-title {
    margin-left: 4.5px;
    margin-bottom: 4.5px;
}

.online-list-message {
    margin-left: 4.5px;
    font-size: 15px;
}


[v-cloak] {
    display: none;
}
  
