body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 1px inset #03003c;
  border-radius: 22px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #c8c8c8;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #666666;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


.page-wrapper {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    width: 500px;
    min-height: 400px;
    background: #1c2a3c;
}

.tab-content {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.muted {
    opacity: 0.6;
    font-size: 12px;
}
.clickable {
    cursor: pointer;
}

h4 {
    font-weight: 100;
}

/*Switch*/

/** Switch
 -------------------------------------*/

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 24px;
    margin-right: 15px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #B7B7B8;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

.online-friends-wrap{
    display:flex;
    flex-wrap: wrap;
}

.mixerFriend{
    background-color:#2a2f42;
    width:48%;
    margin:1%;
    border-radius: 3px;
    border: 2px solid transparent;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    transition: border-color 300ms linear;
}

.mixerFriend:hover{
    border-color:#0075d5;
}

.friendLink{
    color:white;
}
.friendLink:hover{
    color:white;
}

.thumbnail {
    width:100%;
    position: relative;
    display:inline-block;
    vertical-align: top;
}
.thumbnail:after{
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}

.thumbnail img, .thumbnail video{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width:100%;
}

.friendPreview {
    clear: both;
    cursor: pointer;
}

.friend-header{
    position:absolute;
    top:0;
    width:100%;
    height:30%;
    padding: 0px 2% 0px 2%;
    font-weight:bold;
    background:linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.738) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);
}

.friend-icons{
    position: absolute;
    bottom:0px;
    right:2px;
}

.friendName{
    float:left;
}
.friendViewers{
    float:right;
}
.friendViewers i{
    font-weight:initial;
    padding-right: 5px;
}

.info-container {
    width:100%;
    padding: .25em;
    display:inline-block;
    font-size:.8em;
}

.info-container div{
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*** Settings Sections ***/
.settings-section{
    background:rgba(255, 255, 255, 0.05);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    margin-bottom: 1em;
    box-shadow:0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
}
.settings-section-header{
    width:100%;
    border-radius: 4px 4px 0px 0px;
    background:rgba(255, 255, 255, 0.09);
}
.settings-section-header h4{
    padding:.25em;
}
.settings-section-settings{
    padding:1em;
}

