<!doctype html>
<html>
  	<head>
		<title>MixerElixir</title>
		<link type="text/css" rel="stylesheet" href="/resources/bootstrap/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="/resources/bootstrap/bootstrap-vue.css"/>
		<link rel="stylesheet" href="/resources/font-awesome/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="/options/options.css">		
  	</head>
  	<body>
		<div id="app">
			<div class="page-wrapper">
				<nav-bar @tab-changed="updateActiveTab" :online-count="friends.length"></nav-bar>
				<div v-if="activeTab == 'online'" id="onlineFriends" class="tab-content">
					<div class="online-friends-wrap">
						<online-friend	v-for="friend in friends" v-bind:friend="friend"></online-friend>
					</div>
					<div class="online-friends-error" v-if="friends.length === 0">
						To view your online friends go to <a href="https://mixer.com" target="_blank">Mixer.com</a> and log in.
					</div>
				</div>
				<div v-if="activeTab == 'options'" class="tab-content">
					<div class="settings-section">
						<div class="settings-section-header">
							<h4>Streamer Page</h4>
						</div>
						<div class="settings-section-settings">
							<checkbox-toggle :value.sync="autoCloseInteractive" :change="saveSettings()" label="Auto close Interactive boards"></checkbox-toggle>
							<checkbox-toggle :value.sync="separateChat" :change="saveSettings()" label="Separate Chat Lines"></checkbox-toggle>
							<checkbox-toggle :value.sync="alternateChatBGColor" :change="saveSettings()" label="Alternate Chat BG Color"></checkbox-toggle>
							<checkbox-toggle :value.sync="showImageLinksInline" :change="saveSettings()" label="Show Image Links Inline"></checkbox-toggle>
							<checkbox-toggle :value.sync="autoForwardOnHost" :change="saveSettings()" label="Auto Forward on Host"></checkbox-toggle>			
						</div>
					</div>
					<div class="settings-section">
						<div class="settings-section-header">
							<h4>Homepage</h4>
						</div>
						<div class="settings-section-settings">
							<checkbox-toggle :value.sync="removeHomepageFeatured" :change="saveSettings()" label="Remove Featured Streams"></checkbox-toggle>
						</div>
					</div>
				</div>				
			</div>	
		</div>	
		<script src="/resources/js/vue.min.js"></script>
		<script src="/resources/js/polyfill.min.js"></script>
		<script src="/resources/bootstrap/bootstrap-vue.js"></script>
		<script src="/options/options.js"></script>
	</body>
</html>

