body.elixr-dark {

    background: #0f1215 !important;

    .is-stuck header {
        background: #0f1215 !important;
    }

    .control.input > input {
        background: #1d2021 !important;
    }

    b-app .view-area {
        background: #1d243a;
    }

    b-nav-host div[class^="navContainer"][class*="collapsed"] div[class^="content"] {
        background: #2E333A !important;
    }

    b-channel-web-page {
        background-image: linear-gradient(to top, rgba(8, 8, 9, 0.8), rgba(25, 25, 25, 0.95)) !important;
    }

    .game-card, .card > a, b-media-card-footer {
        background: #2d3136 !important;
    }

    b-channel-info-bar:not(.theaterMode) > .info-bar {
        background: #2E333A !important;
    }

    .info-bar .viewers {
        background: #22262C !important;
    }

    .profile-header, .profile-blocks {
        background: #212429 !important;
    }

    div[class*="container"][class*="modal"] {
        background: #212224 !important;
        h1 {
            background: #1e1f20;
        }
    }

    [class*="chatContainer_"], .chat.layout-column {
        background: #262A30 !important;
    }

    [class^="webComposerBlock"] {
        background: #262A30 !important;
    }

    [class^="sticker__"], [class^="attributionContents_"] {
        background: #30343a !important;
    }

    .menu-area {
        background: #1b1e22 !important;
    }

    .initial-loading-overlay {
        background: #262A30;
        transition: opacity 300ms linear, background 300ms linear;
    }

    b-upsell-creative-host > div > div[class^="multiPromoWrapper"],
    b-upsell-creative-host > div > div[class^="wrapper"] {
        background: #262A30 !important;
    }

    b-channel-chat-tabs {
        background: #22262B !important;
    }

    .me-autocomplete {
        background: #181b1f;
    }

    .me-searchbar:not(.me-nav-collapsed) > input {
        border-color: #313131 !important;
    }

    [class*="listModal_"] {
        background: #202429 !important;
    }

    [class*="moreMenuWrap_"] {
        background: #16191ff2 !important;
    }

    .skills-tray-container {
        background: #24282d !important;
    }
}