/* Timestamps */
.chat-message {
    position: relative;
}

.timestamp{
    height:18px!important;
}

.elixrTime {
    position: absolute;
    top: 0;
    right: 0;
}
.elixrTime span {
    line-height:1;
    display:block;
    margin: 1px 5px 0 13px;
    opacity: 0.6;
    font-size:11px;
}


/** Separated Chat Lines **/
.separated-chat b-channel-chat-message{
    border-top: 2px solid #2a354c;
    padding-top: .5em;
    padding-bottom: .5em;
}
.separated-chat .timestamp::before{
    border:none!important;
}

/** Alternate Chat BG Color **/
.chat-alternate-bg .alternate-bg{
    background-color:rgba(255, 255, 255, 0.05);
}
.chat-alternate-bg .timestamp{
    float:right;
    align-items: stretch!important;
    flex-direction: row!important;
    height: 0px!important;
    margin:0px!important;
}

/** Mention Chat BG Color **/
.chat-mention-bg .user-mentioned, .chat-keyword-bg .keyword-mentioned {
    background-color: #20293f;
    background-image:linear-gradient(45deg, rgba(0, 117, 213, 0.25) 40px, rgba(12, 91, 178, 0.25) 40px, rgba(12, 91, 178, 0.25) 80px, rgba(24, 62, 141, 0.25) 80px, rgba(24, 62, 141, 0.25) 120px, rgba(12, 47, 111, 0.25) 120px, rgba(12, 47, 111, 0.25) 160px, rgba(0, 32, 80, 0.25) 160px), linear-gradient(-45deg, rgba(0, 117, 213, 0.25) 40px, rgba(12, 91, 178, 0.25) 40px, rgba(12, 91, 178, 0.25) 80px, rgba(24, 62, 141, 0.25) 80px, rgba(24, 62, 141, 0.25) 120px, rgba(12, 47, 111, 0.25) 120px, rgba(12, 47, 111, 0.25) 160px, rgba(0, 32, 80, 0.25) 160px) !important;
}


/** Inline Pictures **/
.hide-picture-btn {
    position:absolute;
    top:3px;
    right:3px;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, 0.356);
    border-radius: 10px;
    cursor: pointer;
    color: whitesmoke;
    text-align: center;
    font-size: 12px;
    font-family: "Segoe UI", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3.5px;
    padding-right: 0.5px;
}

.hide-picture-btn:hover {
    opacity: 0.6;
}

/*Theater Mode*/
.channel-page > header,
.profile-header,
.profile-blocks,
.user,
.channel-page,
.channel-page > aside,
b-notifications {
    transition: 0.5s;
}

.profile-header.theaterMode,
.profile-blocks.theaterMode {
    display:none!important;
    visibility: hidden !important;
}

.channel-page.theaterMode,
.channel-page > aside.theaterMode {
    background: #0b0f15!important;
}

.channel-page.theaterMode {
    margin-top: 30px!important;
    max-height: 100%!important;
}

.channel-page > aside.theaterMode {
    padding-top: 0px!important;
}

.channel-page.theaterMode > section {
    height: 100%;
}

body.theaterMode {
    background: #0b0f15;
}

b-desktop-header.theaterMode {
    opacity: 0!important;
    display: none;
    visibility: hidden;
}

b-channel-info-bar.theaterMode {
    display: none;
    visibility: hidden;
}

.stage.aspect-16-9.theaterMode {
    max-height: 100% !important;
}

.chat.theaterMode {
    background: #161D29!important;
    top: 0px !important;
}

.chat.relative {
    position: relative !important;
}


/**      Current Issues w/ new mixer theaterMode 
        -- Chat box goes away when theater mode is off (Uncomment lines 135 to 141 to see this bug)
        -- transition times don't work with the new ui removals i've added  **/

/* End Theater Mode */

/** Favorite Highlights **/
/** Favorite Highlights & Favorites UI **/
.card.favoriteFriend a::before {
    border: 2px solid green;
}

.favoriteUsername {
    color: lime !important;
    font-weight: bold;
    opacity: 1;
}

.ME_favorite-btn {
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 30px;
    height: 36px;
    color: #409bff;
    border-radius: 4px;
    margin-right: 10px;
    background: #364163;
}

.ME_favorite-btn span {
    transform: translateY(-1px);
}

.ME_favorite-btn.faved {
    /*color: rgb(4,117,213);*/
}

.ME_favorite-btn:hover,
.ME_favorite-btn.faved:hover {
    background: #2e3958;
}
/** End Highlights CSS **/

.deleted-blur > a,
.deleted-blur > span,
.deleted-blur > div,
.hide-word-mentioned.hide-blur
{
    opacity: 0.6;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    -o-filter: blur(4px);
}

.deleted-blur:hover > a,
.deleted-blur:hover > span,
.deleted-blur:hover > div,
.hide-word-mentioned.hide-blur:hover
{
    opacity: 0.8;
    filter: blur(0);
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -ms-filter: blur(0);
    -o-filter: blur(0);
}

.deleted-blur > b-channel-chat-author {
    opacity: 0.6;
}

.hide-word-mentioned.hide-remove {
    display: none;
}