/* Timestamps */
.chat-message {
    position: relative;
}

.timestamp{
    height:18px!important;
}

.elixrTime {
    position: absolute;
    top: 0;
    right: 0;
}
.elixrTime span {
    line-height:1;
    display:block;
    margin: 1px 5px 0 13px;
    opacity: 0.25;
    font-size:11px;
}


/** Separated Chat Lines **/
.separated-chat b-channel-chat-message{
    border-top: 2px solid #2a354c;
    padding-top: .5em;
    padding-bottom: .5em;
}
.separated-chat .timestamp::before{
    border:none!important;
}

/** Alternate Chat BG Color **/
.chat-alternate-bg .alternate-bg{
    background-color:rgba(255, 255, 255, 0.05);
}
.chat-alternate-bg .timestamp{
    float:right;
    align-items: stretch!important;
    flex-direction: row!important;
    height: 0px!important;
    margin:0px!important;
}

/** Mention Chat BG Color **/
.chat-mention-bg .user-mentioned, .chat-keyword-bg .keyword-mentioned {
    background-color: #20293f;
    background-image:linear-gradient(45deg, rgba(0, 117, 213, 0.25) 40px, rgba(12, 91, 178, 0.25) 40px, rgba(12, 91, 178, 0.25) 80px, rgba(24, 62, 141, 0.25) 80px, rgba(24, 62, 141, 0.25) 120px, rgba(12, 47, 111, 0.25) 120px, rgba(12, 47, 111, 0.25) 160px, rgba(0, 32, 80, 0.25) 160px), linear-gradient(-45deg, rgba(0, 117, 213, 0.25) 40px, rgba(12, 91, 178, 0.25) 40px, rgba(12, 91, 178, 0.25) 80px, rgba(24, 62, 141, 0.25) 80px, rgba(24, 62, 141, 0.25) 120px, rgba(12, 47, 111, 0.25) 120px, rgba(12, 47, 111, 0.25) 160px, rgba(0, 32, 80, 0.25) 160px);
}


/** Inline Pictures **/
.hide-picture-btn {
    position:absolute; 
    top:3px; 
    right:3px; 
    width: 15px; 
    height: 15px; 
    background: rgba(0, 0, 0, 0.356); 
    border-radius: 10px;
    cursor: pointer; 
    color: whitesmoke;
    text-align: center;
    font-size: 12px;
    font-family: "Segoe UI", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3.5px;
    padding-right: 0.5px;
}

.hide-picture-btn:hover {
    opacity: 0.6;
}

/*Theater Mode*/
.channel-page > header,
.back-to-browse,
.profile-header,
.profile-blocks,
.user,
.channel-page,
.channel-page > aside,
b-notifications {
    transition: 0.5s;
}

.channel-page > header.theaterMode,
.back-to-browse.theaterMode,
.user.theaterMode,
b-notifications.theaterMode {
    opacity: 0!important;
    transition: 0.5s
}

.profile-header.theaterMode,
.profile-blocks.theaterMode {
    display:none!important;
}

.channel-page.theaterMode,
.channel-page > aside.theaterMode {
    background: #040a19!important;
}

.channel-page > aside.theaterMode {
    padding-top: 0px!important;
}
/* End Theater Mode */


/** Favorite Highlights **/
/** Favorite Highlights & Favorites UI **/
.card.favoriteFriend a::before {
    border: 2px solid green;
}

.favoriteUsername {
    color: lime !important;
    font-weight: bold;
    opacity: 1;
}

.ME_favorite-btn {
    font-size: 18px;
    cursor: pointer;
    padding: 6px;
    color: #999;
    border: 1px solid gray;
    border-radius: 4px;
    margin-right: 15px;
    background: rgb(20,24,41);
}

.ME_favorite-btn.faved {
    color: rgb(4,117,213);
    border: 1px solid rgb(66,72,85);
}

.ME_favorite-btn:hover,
.ME_favorite-btn.faved:hover {
    color: rgb(90, 251, 142);
    border-color: rgb(90, 251, 142);
}
/** End Highlights CSS **/