.channel-page > section .theaterMode {
    display: none;
}

.channel-page > header.theaterMode {
    display: none;
}

.back-to-browse.theaterMode {
    display: none;
}

.profile-header.theaterMode {
    display: none;
}

.profile-blocks.theaterMode {
    display: none;
}

.user.theaterMode {
    display: none;
}

b-notifications.theaterMode {
    display: none;
}

.interactive-controls.active.theatermode{
    display: none;
}