@import 'emotes/';

.elixr-chat-container {
    .chat-message {
        position: relative;
    }

    /* Timestamps */
    .elixr-timestamp {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
    }
    .elixr-timestamp span {
        line-height:1;
        display: block;
        margin: 1px 5px 0 13px;
        opacity: 0.6;
        font-size:11px;
    }

    /* Highlighted Messages */
    &.chat-mention-bg .user-mentioned,
    &.chat-keyword-bg .keyword-mentioned {
        background-color: #20293f;
        background-image:linear-gradient(45deg, rgba(0, 117, 213, 0.25) 40px, rgba(12, 91, 178, 0.25) 40px, rgba(12, 91, 178, 0.25) 80px, rgba(24, 62, 141, 0.25) 80px, rgba(24, 62, 141, 0.25) 120px, rgba(12, 47, 111, 0.25) 120px, rgba(12, 47, 111, 0.25) 160px, rgba(0, 32, 80, 0.25) 160px), linear-gradient(-45deg, rgba(0, 117, 213, 0.25) 40px, rgba(12, 91, 178, 0.25) 40px, rgba(12, 91, 178, 0.25) 80px, rgba(24, 62, 141, 0.25) 80px, rgba(24, 62, 141, 0.25) 120px, rgba(12, 47, 111, 0.25) 120px, rgba(12, 47, 111, 0.25) 160px, rgba(0, 32, 80, 0.25) 160px) !important;
    }
}

/* toggle message timestamps */
body[data-elixr-chat-showTimestamps="always"] .elixr-chat-container {
    .elixr-timestamp {
        display: block;
    }
}
body[data-elixr-chat-showTimestamps="never"] .elixr-chat-container > div > div[class*="timestamp_"] {
    display: none !important;
}

.elixr-deleted-action {
    position: relative;
    color: red;
    font-size: 13px;
    margin-left: 4px;
    opacity: 0.95;
}

.elixr-mod-action-wrapper {
    cursor: default;
    color: red;
    font-size: 16px;
    opacity: 0.8;
    padding: 5px 0;
    b {
        font-weight: bold;
    }
}

.elixr-mod-action-bubble {
    padding: 10px;
    background: #29374A;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
}

.elixr-icon {
    font-size: inherit;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "liga";
    font-feature-settings: "liga";
    width: 1em;
    height: 1em;
    font-size: 1em;
    display: inline-block;
    overflow: hidden;
    flex-shrink: 0; 
    font-family: MixerIcons;
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    text-align: right;
    transform: translateY(1px);
    font-weight: bold;
    margin-right: 5px;
    &::before {
        display: block;
    }
}

.elixr-banned-icon {
    &::before {
        content: "\F526";
    }
}

.elixr-timeout-icon {
    &::before {
        content: "\F527";
    }
}